/.vscode
main.exe
add_days
accupation
age
between25andmore
bigger_10
birthday
circle
milk_morethan10
nordisk
size
temp37_5
variables
csv_file/.vscode/tasks.json
csv_file/.vscode/launch.json
csv_file/.vscode/settings.json
